<%- include('./htmlHeader') %>

<nav class="navbar navbar-expand-lg bg-custom navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="/shared/img/logo300.png" width="54" alt=""> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 Menu <span class="navbar-toggler-icon"></span>
</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/auth/signUp">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logIn">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<!-- /navbar -->

<div class="container text-center my-5">
    <div class="user my-3">
        <i class="fas fa-user-secret user-icon"></i>
        <h4 class="login">Login</h4>
    </div>
    <div class="card p-5 w-50 m-auto">
        <form method="POST" action="/auth/logIn">
            <input class="form-control" placeholder="Enter your email" type="text" name="email" value="<%= data?.email %>">
            <% if (vaildationErorr?.includes('email')) { %>
                <p class="text-danger">Invaild Email</p>
            <% } %>
            <input class="form-control my-4 " placeholder="Enter your Password" type="password" name="password" value="<%= data?.password %>">
            <% if (vaildationErorr?.includes('password')) { %>
                <p class="text-danger">password must be 8 characters long and contain at least one lowercase letter,one uppercase letter,numbers,Special_Char</p>
            <% } %>
            <button class="btn btn-default-outline my-4 w-100 rounded">Login</button>
            <% if (error) { %>
                <div class="alert alert-warning" role="alert">
                    <strong><%= error %></strong> 
                </div>
            <% } %>
            <p><a class="text-muted forgot btn" href="/user/forgetPass">I Forgot My Password</a></p>
            <% if (changePass) { %>
                <div class="container mt-4">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Success!</h4>
                        <p>Your password has been changed successfully.</p>
                    </div>
                </div>
        
            <% } %>
            <p class="text-center mt-2"> don't have account ? <a style=" text-decoration: none"  href="/auth/signUp">signUp</a></p>
        </form>
    </div>
</div>

<%- include('./htmlFooter') %>